<h1>Edit extension</h1>

<%= render 'form' %>


<%= link_to fa_icon("info-circle",:text=>"Show" ), @extension,:class=>"btn btn-primary" %> 
<%= link_to fa_icon("arrow-left",:text=>'Back'), extensions_path,:class=>"btn btn-info" %>

